body {
    background-color: #2d2d36;
}
input:focus{
    outline: none;
}

h2 {
    color: #e92525;
}

h2.Error {
    display: flex;
    justify-content: center;
}
form.Submit {
    display: flex;
    justify-content: center;
}
div.Naming {
    margin-top: 10%;
}

input.Name_input {
    border-style: none;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    text-indent: 10px;
    font-size: large;
    background-color: #212229;
    color: whitesmoke;
}
input.Button_submit {
    border-style: none;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    margin-left: 10px;
    font-size: large;
    background-color: #212229;
    color: #8D9195;
}