hr {
    background-color: #ffffff00;
    border-style: none;
    height: 5px;
}
body {
    background-color: #2d2d36;
    font-family: monospace;
}

#messages {
    position: absolute;
    margin-bottom: 15px;
    top: 0; bottom: 50px; left: 0; right: 0;
    overflow-y: auto;
}
.Text_input {
    position: absolute;
    width: 75%;
    margin-bottom: 7px;
    margin-left: 7px;
    bottom: 1px;
    height: 45px;
    text-indent: 10px;
    border-radius: 15px;
    border-style: none;
    border-width: 4px;
    background-color: #212229;
    color: whitesmoke;
    font-size: medium;
}
.Button_input {
    position: absolute;
    bottom: 8px;
    margin-left: calc(75% + 15px);
    background-color: #212229;
    color: whitesmoke;
    border-style: none;
    border-radius: 20px;
    height: 45px;
    width: 70px;
    font-size: large;
}

input:focus{
    outline: none;
}

.Message_body {
    padding: 2px 0px 2px 7px;
}
.Mention_highlight {
    border-left: 3px solid #e4e415;
    background-color: #cfbd1d9d;
}

.Username {
    font-size: x-large;
    color: whitesmoke;
}
.Timestamp {
    font-size: smaller;
    color: #a5a5a5;
    margin-left: 10px;
}
.Mention_timestamp {
    font-size: smaller;
    color: #272727;
    margin-left: 10px;
}

.Message_text {
    font-size: large;
    color: whitesmoke;
    margin-top: 5px;
    margin-left: 7px;
    margin-bottom: 3px;
}
.Server_message {
    font-size: large;
    color: #f1a239;
    margin-top: 5px;
    margin-left: 7px;
    margin-bottom: 5px;
}
.Mention_text {
    border-radius: 4px;
    padding: 3px;
    font-weight: bold;
    background-color: #7d54a3d8;
}

.Green {
    font-size: large;
    color: #1bb41b;
    font-weight: bold;
}
.Red {
    font-size: large;
    color: #d63f24;
    font-weight: bold;
}