body {
    background-color: #2d2d36;
    font-family: monospace;
}
input:focus{
    outline: none;
}

h2 {
    color: #e92525;
}

div.Naming {
    display: flex;
    /* padding-left: 43%; */
    justify-content: center;
    margin-top: 10%;
    align-items: center;
}

input.Name_input {
    border-style: none;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    text-indent: 10px;
    font-size: large;
    background-color: #212229;
    color: whitesmoke;
}
input.Button_submit {
    border-style: none;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    margin-left: 10px;
    font-size: large;
    background-color: #212229;
    color: #8D9195;
}